In [1]:
import pandas as pd
import eikon as ek
import configparser as cp
from datetime import date
#https://hilpisch.com/tr_eikon_machine_learning.html

In [2]:
cfg = cp.ConfigParser()
cfg.read('config.cfg')
app_key = cfg['eikon']['desktop']#['news_key']
#app_key = "c1e245b3033d4740ae1205f979627922c1d7df6b"
ek.set_app_key(app_key)

In [3]:
#ek.get_news_headlines('R:LHAG.DE', date_from='2019-03-06T09:00:00', date_to='2019-03-06T18:00:00')

In [63]:
#https://developers.refinitiv.com/eikon-apis/eikon-data-api/learning?content=15351&type=learning_material_item
start_date, end_date = date(2019, 1, 1), date.today() # top story of this ytd
q = "climate AND change"
headlines = ek.get_news_headlines(query=q, date_from=start_date, date_to=end_date, count=100)
headlines.head()

,versionCreated,text,storyId,sourceCode
2019-11-01 13:31:22.768,2019-11-01 14:19:49.459000+00:00,FED'S KAPLAN SAYS CLIMATE CHANGE WILL ULTIMATE...,urn:newsml:reuters.com:20191101:nS0N24B00B:15,NS:RTRS
2019-10-31 16:23:14.000,2019-10-31 22:38:38+00:00,UPDATE 4-Spain likely to host COP25 climate ch...,urn:newsml:reuters.com:20191031:nL2N27G16F:9,NS:RTRS
2019-10-31 16:00:41.000,2019-10-31 16:00:41+00:00,UPDATE 1-German court rejects farmers' climate...,urn:newsml:reuters.com:20191031:nL8N27G7W7:1,NS:RTRS
2019-10-31 15:36:51.000,2019-10-31 15:50:42+00:00,Spain offers to host COP25 climate change summ...,urn:newsml:reuters.com:20191031:nT5N22C01S:3,NS:RTRS
2019-10-31 15:36:50.596,2019-10-31 15:36:50.596000+00:00,CHILE PRESIDENT SEBASTIAN PINERA SAYS PRESIDEN...,urn:newsml:reuters.com:20191031:nT5N22C01S:1,NS:RTRS

In [64]:
headlines.storyId[0]

'urn:newsml:reuters.com:20191101:nS0N24B00B:15'

In [65]:
headlines.text[0]

"FED'S KAPLAN SAYS CLIMATE CHANGE WILL ULTIMATELY HAVE IMPACT ON U.S. GDP"

In [7]:
#story_json = ek.get_news_story(headlines.storyId[0], raw_output=True) #raw_output = True get json file (else str html)
story = ek.get_news_story(headlines.storyId[0], raw_output=False)

In [66]:
import re

TAG_RE = re.compile(r'(<[^>]*>|{[^}]*})')

def remove_tags(text):
    text = TAG_RE.sub('', text)
    text = text.replace(".storyContent *", "")
    return text #TAG_RE.sub('', text)

In [67]:
#loop through headlines to get stories
all_text = []
for index, headline_row in headlines.iterrows():
    story = ek.get_news_story(headline_row['storyId'], raw_output=False)
    story = remove_tags(story)
    title = headline_row.text + ' - '
    all_text.append(title +  story)

In [ ]:
#write these to text file
newsfile = q + '_' + str(start_date) + '-' + str(end_date) + '.txt'
with open(newsfile, 'w') as f:
    f.write(str(all_text))

In [68]:
#start from here if reading txt file
with open (newsfile, 'r') as f:
    all_text = f.read()

In [ ]:
#articles = json['articles']
#headline = [article['title'] for article in articles]
#description = [article['description'] for article in articles]

#all_text = headline + description

In [16]:
def preprocess_text(corpus):
    # initialize
    clean_text = []

    for row in corpus:
        # tokenize
        tokens = nltk.tokenize.word_tokenize(row)
        # lowercase
        tokens = [token.lower() for token in tokens]
        # isword
        tokens = [token for token in tokens if token.isalpha()]
        clean_sentence = ''
        clean_sentence = ' '.join(token for token in tokens)
        clean_text.append(clean_sentence)
        
    return clean_text
    
all_text = preprocess_text(all_text);

In [73]:
#creat co-occurence matrix
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,2), decode_error='replace', analyzer='word', stop_words = 'english') # You can define your own parameters
X = cv.fit_transform(all_text)

In [74]:
#transpose to get co-occurence matrix
Xc = (X.T * X) # This is the matrix manipulation step
Xc.setdiag(0) # We set the diagonals to be zeroes as it's pointless to be 1

In [75]:
#turn into pandas df and export csv
import pandas as pd
names = cv.get_feature_names() # This are the entity names (i.e. keywords)
df = pd.DataFrame(data = Xc.toarray(), columns = names, index = names)
filename = 'gephi_' + q + str(start_date) + '-' + str(end_date) + '_co_occurences.csv'
df.to_csv(filename, sep = ',')

In [76]:
df.head()

,00,00 00,00 19,00 30,00 312,00 conference,00 gulf,00 hawes,000,000 2019,...,zip code,zoltan,zoltan aga,zone,zone 2019,zurich,zurich newsroom,zurich published,élie,élie neighbourhood
00,0,3,2,3,4,2,4,3,6,0,...,0,2,2,0,0,0,0,0,0,0
00 00,3,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
00 19,2,0,0,0,0,1,0,0,1,0,...,0,1,1,0,0,0,0,0,0,0
00 30,3,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
00 312,4,0,0,0,0,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0