In [14]:
api = 'ec5a1052bdb04b879d8950315a80698b' #'[api key here]' # Replace with yours
query = '+climate+change'

import requests
url = ('https://newsapi.org/v2/everything?'
       'q='+query+
       '&sources=financial-times'
       'from=2019-10-01&to=2019-10-30'
       '&sortBy=popularity'
       '&language=en'
       '&pageSize=50'
       '&apiKey='+api)
response = requests.get(url)
json = response.json()

In [5]:
from newsapi import NewsApiClient
# Init
newsapi = NewsApiClient(api_key='ec5a1052bdb04b879d8950315a80698b')

In [32]:
top_headlines = newsapi.get_top_headlines(q='risk',
                                          sources='bloomberg,associated-press',
                                          #category='business',
                                          language='en',
                                          #country='us'
                                         )

In [34]:
top_headlines

{'status': 'ok', 'totalResults': 0, 'articles': []}

In [37]:
# /v2/everything
all_articles = newsapi.get_everything(q='bitcoin',
                                      sources='bbc-news,ft',
                                      #domains='bbc.co.uk,techcrunch.com',
                                      from_param='2019-10-10',
                                      to='2019-11-02',
                                      language='en',
                                      sort_by='popularity',
                                      page=20)

NewsAPIException: {'status': 'error', 'code': 'maximumResultsReached', 'message': 'You have requested too many results. Developer accounts are limited to a max of 100 results. You are trying to request results 380 to 400. Please upgrade to a paid plan if you need more results.'}

In [36]:
all_articles

{'status': 'ok', 'totalResults': 4, 'articles': []}

In [ ]:
# /v2/sources
sources = newsapi.get_sources()

In [ ]:
sources

In [45]:
import json
with open('newsapi_sources.json', 'w') as fp:
    json.dump(sources, fp)

In [17]:
import pandas as pd

In [18]:
sour = pd.read_json('newsapi_sources.json')

pd.__version__

In [ ]:
sources_df = pd.read_json('newsapi_sources.json')

In [14]:
sources_df

    status                                            sources
0       ok  {'id': 'abc-news', 'name': 'ABC News', 'descri...
1       ok  {'id': 'abc-news-au', 'name': 'ABC News (AU)',...
2       ok  {'id': 'aftenposten', 'name': 'Aftenposten', '...
3       ok  {'id': 'al-jazeera-english', 'name': 'Al Jazee...
4       ok  {'id': 'ansa', 'name': 'ANSA.it', 'description...
..     ...                                                ...
125     ok  {'id': 'wired', 'name': 'Wired', 'description'...
126     ok  {'id': 'wired-de', 'name': 'Wired.de', 'descri...
127     ok  {'id': 'wirtschafts-woche', 'name': 'Wirtschaf...
128     ok  {'id': 'xinhua-net', 'name': 'Xinhua Net', 'de...
129     ok  {'id': 'ynet', 'name': 'Ynet', 'description': ...

[130 rows x 2 columns]

In [15]:
print(json['status'], json['totalResults'])

ok 20928

In [16]:
articles = json['articles']
headline = [article['title'] for article in articles]
description = [article['description'] for article in articles]

all_text = headline + description

In [15]:
headline[:20]

NameError: name 'headline' is not defined

In [6]:
#creat co-occurence matrix
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,3), stop_words = 'english') # You can define your own parameters
X = cv.fit_transform(all_text)

In [7]:
#transpose to get co-occurence matrix
Xc = (X.T * X) # This is the matrix manipulation step
Xc.setdiag(0) # We set the diagonals to be zeroes as it's pointless to be 1

In [8]:
#turn into pandas df and export csv
import pandas as pd
names = cv.get_feature_names() # This are the entity names (i.e. keywords)
df = pd.DataFrame(data = Xc.toarray(), columns = names, index = names)
filename = 'gephi_'+query+'_co_occurences.csv'
df.to_csv(filename, sep = ',')

In [9]:
df.head()

,000,000 democratic,000 democratic repu,000 west,000 west africa,11,11 000,11 000 west,11 december,11 december 12,...,york,york global,york global week,yos,youtube,youtube days,youtube days probably,zones,zones wealthier,zones wealthier homeowners
000,0,2,2,2,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
000 democratic,2,0,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
000 democratic repu,2,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
000 west,2,1,1,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
000 west africa,2,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0